.song {
    text-align: center;

    .song-title {
        h2 {
            font-size: 35px;
            color: red;
        }

        p {
            font-size: 25px;
        }
    }

    .song-text {
        max-width: 500px;
        margin: 0 auto;

        p {
            font-size: 20px;
            line-height: 30px;
        }
    }
}